body{
    background-color:#f1f1f1;
    background: url(white-main.jpg);
    background-repeat: no-repeat repeat-y;
    background-attachment: fixed;
    background-size: cover;
}

.delete-button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}