body{
    background-color:#dadada;
    background-repeat: no-repeat repeat-y;
    background-attachment: fixed;
    background-size: cover;
}

.delete-button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}